@font-face {
  font-family: 'Pacifico';
  src: url('Pacifico-Regular.ttf');
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --main-fg-color: #eeeeee;
}

html,
body {
  height: 100%;
  overflow: hidden;
  background: transparent;
  cursor: default;
  user-select: none;
  -webkit-user-select: none;
  width: 100%;
}

.clock {
  display: flex;
  flex-direction: column;
  line-height: 52px;
}

.text {
  color: var(--main-fg-color);
  font-family: Pacifico, sans-serif;
  padding: 5px;
  text-shadow: 0 1px 6px rgba(0, 0, 0, 0.5);
}

.day {
  font-size: 52px;
  text-align: left;
}

.date {
  font-size: 52px;
  text-align: right;
}

.time {
  font-size: 72px;
  text-align: center;
}

.period {
  font-size: 40px;
  text-transform: lowercase;
}
