<div class="weather">
  <div class="info">
    <i class="wi {{ icon }} icon"></i>
    <div class="condition">{{ condition }}</div>
  </div>
  <div class="temp">{{ temperature }}{{ tempUnit }}</div>
  <div class="city">{{ city }}</div>
</div>
